/* Arquivo de estilização usado para todos os componentes que receberam estilização */

/* General styling */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background: #000000; 
    background: -webkit-linear-gradient(to top, #434343, #000000); 
    background: linear-gradient(to top, #434343, #000000);
    height: 100%;
    width: 100%;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif ; 
}

/* Primary navigation bar styling */

 nav {
     background-color: #060606;
     font-size: 20px;
     width: 100%;
 }

 li {
     color: #cfcfcf;
     padding: 3%;
     display: inline-flex;
     margin-left: 8%;
     text-shadow: 0.5px 0.5px 0.5px; 
 }

 button {
     float: right;
     width: 85px;
     height: 35px;
     font-size: 18px;
     font-weight: 400;
     color: whitesmoke;
     background-color: #f57300;
     border-color: #fab237;
     border-radius: 5%;
     margin: 0.5% 1% 0 0.5%;
     transition-duration: 0.2s;
     box-shadow: 0 1px 3px #fab237;
 }

 button:hover {
    background-color: #fab237;
 }
 .parent-ul {
     display: inline-flex;
     align-items: center;
 }

 .home {
     margin-left: 20%;
 }

 /* Secondary navigation bar styling */

 .barra-laranja {
     width: 100%;
     height: 5px;
     background-color: #fab237;
     display: block;
     position: relative;
 }
 
.barra-inferior {
    width: 100%;
    height: 30px;
    background-color: #7c7c7c;
    box-shadow: 0 1px 5px #cfcfcf;
}

.inferior {
    display: inline;
    margin: 0;
    color: whitesmoke;
}

.inferior:hover {
    color: #060606;
}

/* Table Content styling */

table {
    width: 60%;
    border: 1px solid #7c7c7c;
    border-collapse: collapse;
    text-align: center;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif ; 
}


th, td {
    padding: 10px;
    border: 1px solid #7c7c7c;
    color: #060606;
    
}

th {
    background-color: #cfcfcf;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.nome {
    width: 30%;
}
